@import '../utils/tmp.scss';

.card {
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 1s all ease;
    .img {
        height: 60%;
        width: 100%;
        margin-bottom: 10px;
    }
    .card__title {
        margin: 10px;
        margin-top: 7px;
        font-weight: bold;
        @extend %titleFont;
    }
}

.card:hover {
    transform: scale(1.06);
    transition-duration: 1s;
}