@import '../utils/tmp.scss';

.card {
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    transition: 1s all ease;
    @extend %shadowTemplate;
    .card__title {
        margin: 10px;
        margin-top: 7px;
        @extend %titleFont;
    }
    .card__image-main img {
        overflow: hidden;
        width: 100%;
        height: 300px;
    }
    .card__image {
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.card:hover {
    transform: scale(1.06);
    transition-duration: 1s;
}