@import '../utils/tmp.scss';

.catalog__title {
    height: 70px;
    color: white;
    font-size: 23px;
    @extend %titleBackground;
    @extend %centerTemplate;
    @extend %titleFont;
}

.catalog__items {
    padding: 20px;
    @extend %gridTemplate;
}

.catalog__content {
    margin-bottom: 100px;
}

