@import '../utils/tmp.scss';

.catalog__wrapper {
    margin-top: 10px;
}

.catalog__title {
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 15px;
    font-size: 23px;
    // font-weight: bold;
    @extend %titleFont;
}

.catalog__items {
    padding: 20px;
    @extend %gridTemplate;
}

