@import "../utils/tmp.scss";

.catalog__wrapper {
    height: 100%;
}

.catalog__title {
    @extend %titleBlock;
    justify-content: space-evenly;
}

.catalog__search {
    box-sizing: border-box;
    margin: 5px;
    width: 30%;
}
