@import '../utils/tmp.scss';

.contacts__title {
    font-size: 23px;
    height: 70px;
    color: white;
    background-color: black;
    opacity: 0.8;
    @extend %centerTemplate;
    @extend %titleFont
}

.contacts__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inf {
    margin-bottom: 30px; //!!!
    @extend %titleFont
}

.contacts__left__side {
    width: 50%;
    padding: 10px;
    @extend %centerTemplate;
}

.contacts__right__side {
    width: 50%;

    .map__title {
        margin-top: 15px;
        text-align: center;
    }

    .map {
        width: 100%;
        height: 85%;
        margin: auto;
        margin-bottom: 15px;
        @extend %centerTemplate;
        iframe {
            width: 80%;
            height: 80%;
            border: 0;
            border-radius: 15px;
        }
    }
}


@media screen and (max-width: 992px) {
 .contacts__wrapper {
    flex-direction: column;
    justify-content: space-around;
    height: auto;
 }
 .contacts__left__side {
    width: 100%;
    height: 50%;
    padding: 0;
 }
 .contacts__right__side {
    border-top: 1px solid black;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
 }
 iframe {
    border-radius: 15px;
    width: 100% !important;
    height: 100% !important;
}
 .map {
    margin-bottom: 20px;
    margin: auto;
    width: 400px !important;
    height: 500px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
}