@import '../utils/tmp.scss';

.footer__wrapper {
    height: 80px;
    width: 100%;
    overflow: hidden;
    background-color: black;
    .footer__items {
        @extend %centerTemplate;
        justify-content: space-around;
        height: 100%;
        .footer__item {
            margin-bottom: 25px;
        }
    }
    .signature {
        display: none; // ))))
        color: white;
        font-size: 16px;
        margin-top: 25px;
        @extend %titleFont;
    }
}

@media screen and (max-width: 992px) { 
    .footer__wrapper {
        margin: 0px auto 0;
        height: auto;
    }
    .footer__items {
        flex-direction: column;
    }
    .footer__item {
        margin-bottom: 0;
    }
}