@import '../utils/tmp.scss';


.itemInfo__title__space {
    height: 70px;
    position: sticky;
    top: 10px;
    opacity: 0.7;
    @extend %centerTemplate;
    .itemInfo__title {
        height: 80%;
        color: white;
        padding: 5px;
        width: 60%;
        border-radius: 15px;
        @extend %titleFont, %centerTemplate, %titleBackground, %shadowTemplate;
    }
    .itemInfo__title__navigation {
        display: flex;
        .item-info__nav-item {
            padding: 10px;
            cursor: pointer;
            font-size: 18px;
        }
    }
}

.work__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    p {
        line-height: 1.5;
        @extend %titleFont;
    }
    .work__wrapper__space {
        height: 80vh;
        width: 100%;
        overflow: hidden;
        @extend %centerTemplate, %blockBackground;
    }
} 

.itemInfo__left__side {
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    @extend %centerTemplate;
    img{
        width: 400px;
        height: 400px;
    }
    p {
        @extend %titleFont;
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }
    .item__title {
        text-align: center;
        color: white;
        margin-top: 10px;
        font-size: 22px;
        @extend %titleFont;
    }
    .itemInfo__left__side__card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

.itemInfo__right__side {
    @extend %centerTemplate;
    flex-direction: column;
    width: 55%;
    height: 80%;
    flex-wrap: wrap;
    margin-right: 30px;
    .item-info-descr__title {
        color: white;
        font-size: 25px;
        @extend %titleFont;
    }
    .item__description {
        color: white;
        border-radius: 15px;
        height: 90%;
        word-wrap: break-word;
        font-size: 22px;
        @extend %centerTemplate, %mainFont;
        text-align: start;
    }
}

.variants {
    height: 100vh;
    background-color: lightblue;
}

.other__products {
    height: 100vh;
    background-color: teal;
}

@media screen and (max-width: 992px) {
    .itemInfo__left__side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }
    .itemInfo__right__side {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin: auto;
    }
    .work__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        .work__wrapper__space {
            flex-direction: column;
            height: auto;
        }
    }
}


