@import '../utils/tmp.scss';


.itemInfo__title__space {
    height: 70px;
    position: sticky;
    top: 10px;
    opacity: 0.8;
    @extend %centerTemplate;
    .itemInfo__title {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 80%;
        color: white;
        padding: 5px;
        width: 60%;
        border-radius: 15px;
        background-color: rgb(89, 89, 89, 0.7);
        @extend %titleFont, %centerTemplate;
    }
    .itemInfo__anchor {
        a {
            padding: 5px;
            color: white !important;
            font-size: 18px;
        }
    }
}

.work__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    //border: 1px solid red;
    p {
        line-height: 1.5;
        @extend %titleFont;
    }
    .work__wrapper__space {
        height: 80vh;
        width: 90%;
        border-radius: 10px;
        //border: 3px solid teal;
        overflow: hidden;
        @extend %centerTemplate, %blockBackground;
    }
} 

.itemInfo__left__side {
    //border: 3px solid green;
    margin-top: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    @extend %centerTemplate;
    img{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    p {
        @extend %titleFont;
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }
    .item__title {
        text-align: center;
        margin-top: 10px;
        font-size: 22px;
        font-weight: bold;
        @extend %titleFont;
    }
    .itemInfo__left__side__card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
        background-color: white;
        padding: 30px;
        border-radius: 15px;
    }
}

.itemInfo__right__side {
    @extend %centerTemplate;
    flex-direction: column;
    width: 55%;
    height: 80%;
    flex-wrap: wrap;
    margin-right: 30px;
    .item__description {
        background-color: white;
        padding: 30px;
        border-radius: 15px;
        height: 90%;
        word-wrap: break-word;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        font-size: 22px;
        @extend %centerTemplate, %mainFont;
    }
}

.variants {
    margin-top: 40px;
    height: 100vh;
    background-color: lightblue;
}

.other__products {
    height: 100vh;
    background-color: teal;
}

@media screen and (max-width: 992px) {
    .itemInfo__left__side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
    }
    .itemInfo__right__side {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-right: 0;
        margin: auto;
    }
    .work__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        .work__wrapper__space {
            flex-direction: column;
            height: auto;
        }
    }
}


