@import '../utils/tmp.scss';


// main
.welcome__wrapper {
    width: 100%;
    height: auto;
}

.welcome__main {
    height: 92vh;
    background: url('../assets/mainBackground.jpg') no-repeat center center;
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    @extend %centerTemplate;
}

.main__icon {
    img {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        height: 300px;
        width: 350px;
    }
}

.main__arrow {
    img {
        height: 100px;
        width: 100px;
        animation: arrow 1s infinite linear;
    }
}

.welcome__brand__title {
    color: white;
    font-size: 96px;
    @extend %mainFont;
}

.welcome__main__title {
    color: white;
    font-size: 28px;
    line-height: 1.5;
    @extend %mainFont;
}


// about
.welcome__about {
    height: 100vh; 
    background-color: white;
}

.welcome__content__title {
    color: white;
    padding: 25px;
    font-size: 32px;
    @extend %centerTemplate, %titleFont;
}

.first {
    color: black;
}

.welcome__about__wrapper {
    overflow: hidden;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    img {
        width: 350px;
        height: 350px;
    }
    .welcome__about__logo {
        width: 50%;
        @extend %centerTemplate;
    }
    .welcome__about__text {
        word-wrap: break-word;
        line-height: 2;
        width: 50%;
        padding: 30px;
        font-size: 28px;
        @extend %centerTemplate;
        @extend %mainFont;
    }
}


// pluses
.privilege {
    height: 100vh;
    @extend %blockBackground;
    overflow: hidden;
    @extend %centerTemplate;
}

.priv__conteiner {
    height: 100%;
    width: 100%;
}

.priv__wrapper {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.priv__item {
    //margin-top: 150px;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img {
        width: 150px;
        height: 150px;
    }
    p {
        margin-top: 30px;
        color: white;
        @extend %mainFont;
    }
}

.bold {
    font-weight: bold;
}


//products
.products {
    height: 70vh;
}

.products__title {
    text-align: center;
    font-size: 31px;
    padding: 20px;
    @extend %titleFont;
}

.carousel__space {
    height: 70vh;
    overflow: hidden;
    @extend %blockBackground;
    @extend %centerTemplate;

    .carousel {
        width: 80%;
        height: 400px;
        border-radius: 15px;
    
        .carousel__item {
            border-radius: 5px;
            height: 100%;
            color: #fff;
            font-weight: bold;
            line-height: 400px;
            text-align: center;
            background: #364d79;
            font-size: 32px;
            background-size: cover;
            @extend %titleFont;
        }

        .one {
            background: url('../assets/paper/1/1.jpg') no-repeat center center;
            background-size: cover;
        }

        .two {
            background: url('../assets/paper/2/1.jpg') no-repeat center center;
            background-size: cover;
        }

        .three {
            background: url('../assets/paper/5/1.jpg') no-repeat center center;
            background-size: cover;
        }
    }
}



// animation
@keyframes arrow {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(25px);
    }
}


// adaptive
@media screen and (max-width: 992px) {
    .welcome__about__wrapper {
        flex-direction: column;
        height: auto;
        .welcome__about__text {
            width: 90%;
        }
    }
    .welcome__about {
        height: auto !important;
    }


    .privilege {
        height: auto;
    }
    .priv__wrapper {
        flex-direction: column;
    }
    .priv__item {
        margin-top: 30px;
        p {
            margin-top: 2px;
            padding: 10px;
        }
    }


    .products {
        height: auto;
    }
    .carousel__space {
        height: auto;
    }
    .carousel {
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        height: auto !important;
    }
}